<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="COOPMEF.Properties.Settings.ConnectionString" connectionString="Dsn=32bitsSysWOW64;uid=root;pwd=root"
        providerName="System.Data.Odbc" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
